// My Account section

.account-section {
  position: relative;
  text-align: center;
  background-color: #fff;
  border: 1px solid $line-colour;
  border-radius: 5px;
  margin: $space-larger 0;
  padding: $space-large $space-medium $space-medium $space-medium;
  h2 {
    margin-top: $space-medium;
  }
  .ico {
    margin: $space-medium 0;
  }
  @include breakpoint($medium) {
    @include gallery(4 of 12); // 3
    padding-bottom: $space-huge;
    &:last-child {
      @include gallery(4 of 12 last); // 2
    }
    .button {
      padding-left: 0; padding-right: 0;
      // width: 100%;
      position: absolute; bottom: $space-medium;
      right: $space-medium; left: $space-medium;
    }
  }
}


// Checkout journey

.bag-item {
  @include container;
  border-bottom: 1px solid $line-colour;
  padding: $space-large 0;

  .pic {
    margin-bottom: $space-small;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .txt {
    @include span(9);
    @include breakpoint($medium) {
      @include span(6);
    }
    h2 {
      margin-top: 0;
    }
    ul {
      padding-left: 1rem;
    }
  }
  .functions {
    @include span(3 last);
    text-align: right;
    .price {
      @include header2;
      margin: 0 0 $space-small 0;
    }
  }
}

.return {
  margin: $space-large 0;
  text-align: center;
}

.bag-footer, .bag-header {
  text-align: center;
  .sub-total {
    @include header2;
    margin: $space-large 0;
  }
  .button {
    @include addtocartbutton;
  }
}

@include breakpoint($medium) {
  .pic {
    @include span(3);
    margin-bottom: 0 !important;
  }
  .return {
    @include span(6);
    text-align: left;
  }
  .bag-header {
    text-align: left;
    @include container;
    h1 {
      @include span(6);
    }
    .button {
      float: right;
      margin-top: $space-medium;
    }
  }
  .bag-footer {
    @include span(6 last);
    text-align: right;
  }
  .next-button {
    // @include span(isolate 8 at 3);
    margin-top: $space-larger;
  }
}

@include breakpoint($large) {
  .checkout-login {
    @include span(6);
  }
  .checkout-signup {
    @include span(6 last);
  }
  .checkout-login, .checkout-signup {
    h2 {
      margin-top: 0;
    }
    ul {
      li.textfield {
        label {
          @include span(4);
        }
        .field {
          @include span(8 last);
        }
      }
      .button-field {
        @include span(isolate 8 at 5 last);
      }
    }
  }
}


.checkout-login, .checkout-signup, .next-button {
  .button {
    @include addtocartbutton;
    &.cancel {
      text-transform: none;
      background-color: transparent;
      color: $dark;
      letter-spacing: 0;
      &:hover {
        color: $brand-red;
      }
    }
  }
}


.progress {
  ul {
    //border-top: 1px solid $line-colour;
    border-bottom: 1px solid $line-colour;
    list-style: none;
    padding: 0 0 $space-small 0;
    margin-top: 0;
    margin-bottom: $space-medium;
    text-align: center;
    li {
      display: none;
      opacity: 0.3;
      //display: inline-block;
      position: relative;
      font-size: $bigger;
      padding: 0 $space-large;
      &:before {
        position: absolute;
        @include iconbase;
        font-size: 10px;
        @include icon-chevron-right;
        left: -5px;
        top: 7px;
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
      &.active {
        opacity: 1;
        display: inline-block;
      }
      @include breakpoint($medium) {
        display: inline-block;
        padding: 0 $space-medium;
        font-size: $body;
      }
      @include breakpoint($large) {
        padding: 0 $space-large;
        font-size: $bigger;
      }
    }
    @include breakpoint($medium) {
      padding: 0 0 $space-large 0;
      margin-bottom: $space-massive;
    }
  }
}

.delivery-options {
  li {
    position: relative;
    background-color: $light;
    &.selected {
      background-color: $dark;
      color: white;
    }
    input {
      position: absolute;
      opacity: 0;
      margin-right: $space-small;
    }
    label {
      display: block;
      margin: 0;
      padding: $space-small;
      text-align: center;
      cursor: pointer;
    }
  }
}
.next-options {
  // min-height: 10rem;
  text-align: center;
  padding: $space-larger 0;
  li {
    display: none;
    h2 {
      margin: $space-medium 0;
    }
    .delivery-times {
      max-width: 15rem;
      margin: auto;
      .dropdown {
        @include fatselect;
        display: block;
        margin-bottom: $space-small;
        select {
          display: block;
          width: 100%;
        }
      }
    }
  }
}

.confirm-addresses {
  @include fieldset;
  @include container;
  @include break;
  padding: $space-medium;
  h3 {
    margin-top: 0;
  }
}

.summary-item-header {
  background-color: $dark;
  color: white;
}

.summary-item-header, .summary-item {
  @include container;
  .summ-name {
    @include span(5);
    padding: $space-small;
  }
  .summ-color-size {
    @include span(3);
    padding: $space-small;
  }
  .summ-quantity {
    @include span(2);
    padding: $space-small;
  }
  .summ-price {
    @include span(2 last);
    padding: $space-small;
    text-align: right;
  }
}

.order-summary-totals {
  @include container;
  border-top: 1px solid $line-colour;
  border-bottom: 1px solid $line-colour;
  padding: $space-medium 0;
  margin-bottom: $space-larger;
  .label {
    @include span(6);
    padding: $space-tiny $space-small;
    @include breakpoint($medium) {
      @include span(10);
      text-align: right;
    }
  }
  .ammount {
    @include span(6 last);
    padding: $space-tiny $space-small;
    text-align: right;
    @include breakpoint($medium) {
      @include span(2 last);
    }
  }
  .total-ammount {
    @include header2;
  }
}

.confirm-order {
  .button {
    margin-bottom: $space-small;
  }
}

.security-logo {
  text-align: center;
}

.payment-logos {
  width: 150px;
  text-align: center;
  float: right;
  margin-bottom: $space-small;
  // span {
  //   display: inline-block;
  //   font-size: $smaller;
  //   margin-bottom: $space-tiny;
  // }
  img {
    width: 100%;
    height: auto;
  }
}

@include breakpoint($medium) {
  .payment-logos {
    width: 180px;
    position: absolute;
    right: $space-larger;
    top: $space-larger;
  }
  .security-logo {
    width: 150px;
    position: absolute;
    right: $space-larger;
    bottom: $space-larger;
  }
  .delivery-options {
    @include container;
    li {
      @include span(6);
      -webkit-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      &:last-child {
        @include span(6 last);
      }
    }
  }
  .confirm-order {
    .button {
      margin-bottom: 0;
    }
  }
  .confirm-addresses {
    .billing-address {
      @include span(4);
    }
    .delivery-address {
      @include span(4);
    }
    .delivery-options {
      @include span(4 last);
    }
  }
  .confirm-order {
    @include container;
    .change-order {
      @include span(6);
    }
    .next-button {
      text-align: right;
      margin-top: 0;
      @include span(6 last);
    }
  }
}
