// My Account section

.account-section {
  position: relative;
  text-align: center;
  background-color: #fff;
  border: 1px solid $line-colour;
  border-radius: 5px;
  margin: $space-larger 0;
  padding: $space-large $space-medium $space-medium $space-medium;
  h2 {
    margin-top: $space-medium;
  }
  .ico {
    margin: $space-medium 0;
  }
  @include breakpoint($large) {
    @include gallery(4 of 12); // 3
    padding-bottom: $space-huge+.5rem;
    &:last-child {
      @include gallery(4 of 12 last); // 2
    }
    .button {
      padding-left: 0; padding-right: 0;
      // width: 100%;
      position: absolute; bottom: $space-medium;
      right: $space-medium; left: $space-medium;
    }
  }
}


// Checkout journey

.bag-header {
  border-bottom: 1px solid $line-colour;
}

.bag-item {
  @include container;
  border-bottom: 1px solid $line-colour;
  padding: $space-large 0;
  position: relative;
  .pic {
    margin-bottom: $space-small;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .txt {
    h2 {
      margin-top: 0;
    }
    ul {
      padding-left: 1rem;
    }
  }
  .price {
    @include header2;
    margin: 0 0 $space-small 0;
  }
  .functions {
    position: absolute;
    top: $space-large; right: $space-medium;
  }
}

.mini-bag-title {
  margin: 0;
  // text-align: center;
  border-bottom: 1px solid $line-colour;
  padding-bottom: $space-medium;
}

.mini-bag-item {
  @include container;
  border-bottom: 1px solid $line-colour;
  padding: $space-medium 0;
  position: relative;
  .pic {
    @include span(3);
    margin-bottom: 0 !important;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .txt {
    @include span(9 last);
    h3 {
      margin: 0;
    }
    ul {
      padding-left: 0;
      list-style: none;
      margin: $space-tiny 0; 
    }
  }
  .price {
    @include header2;
    margin: 0;
  }
  .functions {
    position: absolute;
    top: $space-large; right: $space-medium;
  }
}


.return {
  margin: $space-large 0;
  text-align: center;
}

.sub-total {
  @include header2;
  padding: $space-medium 0;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid $line-colour;
}

.bag-footer, .bag-header {
  text-align: center;
  .sub-total {
    text-align: right;
    border: none;
    padding: $space-large 0;
  }
  .button {
    @include addtocartbutton;
  }
}

.bag-header {
  .button {
    margin: $space-medium 0;
  }
}

@include breakpoint($medium) {
  .bag-header {
    text-align: left;
    @include container;
    h1 {
      @include span(6);
    }
    .button {
      float: right;

      // display: none;
    }
  }
  .bag-item {
    .pic {
      @include span(2);
      margin-bottom: 0 !important;
    }
    .txt {
      @include span(6);
    }
    .price {
      @include span(2);
    }
    .functions {
      @include span(2 last);
      text-align: right;
      position: static;;
      top: auto; right: auto;
    }
  }

  .return {
    @include span(6);
    text-align: left;
  }
  .bag-footer {
    @include span(6 last);
    text-align: right;
  }
  .next-button {
    // @include span(isolate 8 at 3);
    margin-top: $space-larger;
  }
}

@include breakpoint($large) {
  .checkout-login {
    @include span(6);
  }
  .checkout-signup {
    @include span(6 last);
  }
  .checkout-login, .checkout-signup {
    h2 {
      margin-top: 0;
    }
    ul {
      li.textfield {
        label {
          @include span(4);
        }
        .field {
          @include span(8 last);
        }
      }
      .button-field {
        @include span(isolate 8 at 5 last);
      }
    }
  }
}


.checkout-login, .checkout-signup, .next-button {
  .button {
    @include addtocartbutton;
  }
}

.button {
  &.cancel {
    text-transform: none;
    background-color: transparent;
    color: $dark;
    letter-spacing: 0;
    &:hover {
      color: $active-color;
    }
  }
}


.progress {
  margin: $space-large 0 $space-larger 0;
  // border-bottom: 1px solid $line-colour;
  padding: 0 $space-medium $space-large 0;
  // border-radius: 25px;
  h3 {
    // text-align: center;
    margin-top: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
    li {
      @include progress-style;
      background-color: #fff;
      display: inline-block;
      z-index: 3;
      color: rgba($dark, 0.3);
      position: relative;
      padding: 0 $space-tiny;
      margin: 0 $space-tiny;
      em {
        font-style: normal;
        // font-size: $body;
        // padding: $space-tiny;
        text-align: center;
        background-color: rgba($brand-blue, 0.4);
        border-radius: 50%;
        height: 22px; width: 22px;
        display: inline-block;
        color: #fff;
        margin-right: $space-tiny;
      }
      span {
        display: none;
      }
      // &:before {
      //   position: absolute;
      //   @include iconbase;
      //   font-size: 10px;
      //   @include icon-chevron-right;
      //   left: -5px;
      //   top: 7px;
      // }
      // &:first-child {
      //   &:before {
      //     display: none;
      //   }
      // }
      &.active {
        color: rgba($dark, 1);
        display: inline-block;
        em {
          background-color: rgba($brand-blue, 1);
        }
      }
      @include breakpoint($medium) {
        // font-size: $body;
        span {
          display: inline;
        }
      }
      @include breakpoint($large) {
        padding: 0 $space-small;
        // font-size: $bigger;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 10px;
      width: 100%;
      border-bottom: 1px solid $line-colour;
      z-index: 2;
      left: 0;
    }
  }
  @include breakpoint($large) {
    margin: 0 0 $space-large 0;
  }
}

.registered-user {
  h2 {
    margin: 0;
    font-weight: 500;
  }
  a {
    text-decoration: underline;
    font-weight: 700;
  }
  .ico {
    float: left;
  }
  h2 {
    margin: 0 0 0 $space-larger;
  }
  // @include breakpoint($medium) {
  //   float: right;
  //   text-align: left;
  //
  // }
}

.checkout {
  @include breakpoint($large) {
    @include span(8);
  }
}

.checkout-help {
  @include pad($space-medium);
  // background-color: #fff;
  // -webkit-box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.2);
  // box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.2);
  border: none;
  margin: $space-larger 0;
  @include breakpoint($large) {
    @include span(4 last);
  }
}

.delivery-options {
  li {
    position: relative;
    background-color: $light;
    &.selected {
      background-color: $dark;
      color: white;
    }
    input {
      position: absolute;
      opacity: 0;
      margin-right: $space-small;
    }
    label {
      display: block;
      margin: 0;
      padding: $space-small;
      text-align: center;
      cursor: pointer;
    }
  }
}
.next-options {
  // min-height: 10rem;
  text-align: center;
  padding: $space-larger 0;
  li {
    display: none;
    h2 {
      margin: $space-medium 0;
    }
    .delivery-times {
      max-width: 360px;
      margin: auto;
      .dropdown {
        @include fatselect;
        display: block;
        margin-bottom: $space-small;
        select {
          display: block;
          width: 100%;
        }
      }
    }
  }
}

.confirm-addresses {
  @include fieldset;
  @include container;
  @include break;
  padding: $space-medium;
  h3 {
    margin-top: 0;
  }
}

.summary-item-header, .history-summary-item-header {
  display: none;
}

.summary-item {
  @include container;
  padding: $space-medium $space-small;
  .summ-name {
    padding-bottom: $space-tiny;
  }
  .summ-color-size {
    @include span(4);
  }
  .summ-quantity {
    @include span(4);
  }
  .summ-price {
    @include span(4 last);
    text-align: right;
  }
}

.history-summary-item {
  padding: $space-medium 0;
  border-top: 1px solid $line-colour;
  @include container;
  .history-order-date {
    @include span(6);
  }
  .history-order-number {
    @include span(6 last);
    text-align: right;
  }
  .history-item-name {

  }
  .history-total {
    @include span(6);
  }
  .history-status {
    @include span(6 last);
    text-align: right;
  }
}

@include breakpoint($medium) {

  .summary-item-header, .history-summary-item-header {
    @include container;
    display: block;
    background-color: $dark;
    color: white;
  }

  .summary-item-header, .summary-item {
    padding: 0;
    border: none;
    .summ-name {
      @include span(5);
      padding: $space-small;
    }
    .summ-color-size {
      @include span(3);
      padding: $space-small;
    }
    .summ-quantity {
      @include span(2);
      padding: $space-small;
    }
    .summ-price {
      @include span(2 last);
      padding: $space-small;
      text-align: right;
    }
  }

  .history-summary-item-header, .history-summary-item {
    @include container;
    padding: 0;
    .history-order-date {
      @include span(2);
      padding: $space-small;
    }
    .history-order-number {
      @include span(2);
      padding: $space-small;
    }
    .history-item-name {
      @include span(4);
      padding: $space-small;
    }
    .history-total {
      @include span(2);
      padding: $space-small;
    }
    .history-status {
      @include span(2 last);
      padding: $space-small;
      text-align: right;
    }
  }

}

.order-summary-totals {
  @include container;
  border-top: 1px solid $line-colour;
  border-bottom: 1px solid $line-colour;
  padding: $space-medium 0;
  margin-bottom: $space-larger;
  .label {
    @include span(6);
    padding: $space-tiny $space-small;
    @include breakpoint($medium) {
      @include span(10);
      text-align: right;
    }
  }
  .ammount {
    @include span(6 last);
    padding: $space-tiny $space-small;
    text-align: right;
    @include breakpoint($medium) {
      @include span(2 last);
    }
  }
  .total-ammount {
    @include header2;
  }
}

.confirm-order {
  .button {
    margin-bottom: $space-small;
  }
}

.security-logo {
  text-align: center;
  margin: $space-medium 0;
  img {
    max-width: 100%;
    height: auto;
  }
}

.payment-logos {
  text-align: center;
  // display: inline-block;
  // margin-top: $space-small;
  img {
    width: 100px;
    height: auto;
  }
}

@include breakpoint($medium) {
  .delivery-options {
    @include container;
    li {
      @include span(6);
      -webkit-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      &:last-child {
        @include span(6 last);
      }
    }
    &.has-three {
      li {
        @include span(4);
        &:last-child {
          @include span(4 last);
        }
      }
    }
  }
  .confirm-order {
    .button {
      margin-bottom: 0;
    }
  }
  .confirm-addresses {
    .billing-address {
      @include span(4);
    }
    .delivery-address {
      @include span(4);
    }
    .delivery-options {
      @include span(4 last);
    }
  }
  .confirm-order {
    @include container;
    .change-order {
      @include span(6);
    }
    .next-button {
      text-align: right;
      margin-top: 0;
      @include span(6 last);
    }
  }
}

.order-confirmed {
  @include fieldset;
  padding: $space-larger;
  text-align: center;
  .ico {
    // float: left;
    // margin-right: $space-small;
    display: block;
    margin-bottom: $space-medium;
    color: green;
  }
}
