html {
  font-size: $base;
}

* {
  @include border-box-sizing;
}

body {
  background-color: $background;
  @include bodycopy;
}

// Typography

h1 {
  @include header1;
}

h2 {
  @include header2;
}

h3 {
  @include header3;
}

p {
  @include paragraphs;
  .ico {
    // margin-right: $space-tiny;
    &:before {
      vertical-align: sub;
    }
  }
  a {
    text-decoration: underline;
  }
}

ul.plain {
  @include paragraphs;
}

a {
  @include linkbase;
}

strong {
  @include boldType;
}

table {
  @include tables;
}

iframe {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 900px;
  margin: 0;
}

/* forms */

fieldset {
  @include fieldset;
  @include break;
  padding: $space-medium;
  p {
    margin: 0 0 $space-large 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin: 0 0 $space-small 0;
      @include container;
      .serverError {
        padding-left: 0;
        margin: 0 0 $space-small 0;
        position: relative;
      }
      label {
        margin-bottom: $space-tiny;
        padding-top: $space-tiny;
        display: block;
      }
      .forgot-password {
        display: inline-block;
        margin-top: $space-small;
      }
      .button-field {
        margin-top: $space-medium;
      }
    }
    .checkbox {
      .field {
        input {
          display: inline;
          margin-right: $space-small;
        }
        label {
          display: inline-block;
        }
      }
    }
  }
}

.serverError {
  @include serverError;
}


input[type="search"], input[type="text"], input[type="password"], textarea {
  @include textinput;
}

.inline-dropdown {
  // border: 1px solid red;
  margin-top: $space-tiny;
  @include gallery(6);
}

.dropdown {
  display: block;
  @include dropdown;
  select {
    display: block;
    width: 100%;
  }
  .old-ie & {
    display: inline;
    select {
      // width: 100%;
      display: inline;
      background-color: #fff;
      padding: $space-small !important;
    }
    span {
      display: none;
    }
  }
}

.button {
  @include button;
}

@include breakpoint($medium) {
  fieldset {
    padding: $space-larger;
    position: relative;
    ul {
      li.textfield {
        label {
          @include span(3);
          @include break;
        }
        .field {
          @include span(8);
          .serverError {
            margin: $space-tiny 0 0 0;
          }
          .hint {
            margin: $space-tiny 0;
            font-size: $smaller;
            line-height: 1.2rem;
          }
        }
      }
      .button-field {
        @include span(isolate 8 at 4);
      }
      .checkbox {
        .field {
          @include span(isolate 8 at 4);
        }
      }
    }
  }
  .inline-dropdown {
    @include gallery(4);
  }
  .dropdown {
    display: inline-block;
    select {
      display: inline;
      width: auto;
    }
  }
}

@include breakpoint($large) {
  .inline-dropdown {
    @include gallery(3);
  }
}

// Container

.frame {
  @include container;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  @include breakpoint($huge+20) {
    padding: 0;
  }
}

/* HEADER */

header {

  @include breakpoint($medium) {
    border-top: 10px solid $header-strip;
  }

  .frame {
    @include layout($widerGrid); // Wider!
    @include container;
  }

  .phone {
    display: none;

    @include breakpoint($large) {
      display: block;
      @include span(4 of 12);
      span {
        display: block;
      }
    }

    .ico {
      float: left;
      margin-top: 6px;
    }
    .number {
      @include phonenumber;
    }
    .times {
      @include phonetimes;
    }
  }

  .off-canvas-button {
    display: block;
    padding-top: $space-small;
    //padding-bottom: $space-large;
    font-size: $body;
    @include span(3);
    @include breakpoint($medium) {
      @include span(4);
      padding-top: $space-large + 0.3rem;
    }
    @include breakpoint($large) {
      display: none;
    }

    .menu-label {
      // height: 36px;
      // width: 4rem;
      // padding-top: 5px;
      display: block;
      font-size: $smaller;
    }

    // .burger {
    //   float: left;
    //   margin-right: $space-tiny;
    // }
  }

  .logo {
    @include span(6);
    text-align: center;
    @include logo;
    @include breakpoint($medium) {
      @include span(4);
    }
  }


  .account-nav {
    @include span(3 last);
    @include suffix(0.75rem);
    font-size: $body;
    padding-top: $space-small;
    position: relative;

    @include breakpoint($medium) {
      @include span(4 last);
      padding-top: $space-large + 0.3rem;
    }

    ul {
      margin: 0; padding: 0;
      list-style: none;
    }
    ul li {
      text-align: right;
      position: relative;
      .label {
        display: block;
        padding-top: $space-tiny;
        font-size: $body;
        // @include breakpoint($medium) {
        //   font-size: $body;
        // }
      }
      .ico {
        vertical-align: baseline;
      }
      &.search {
        display: none;
      }
      // .ico {
      //   display: block;
      // }
      &.account {
        display: none;
      }
      &.signin {
        display: none;
      }
      &.basket {
        @include span(12 last);
        position: relative;
        .ico {
          // float: right;
          // margin-left: $space-tiny;
        }
        .bag-qty {
          display: block;
          position: absolute; right: -8px; top: 0px;
          text-align: center;
          @include bagQty;
          &.empty {
            display: none;
          }
        }
      }
    }

    .search-form {
      @include span(isolate 9 at 4);
      position: relative;
      display: none;
      input[type="search"] {
        @include fattextinput;
      }
      input[type="submit"] {
        background-color: transparent;
        border: none;
        padding: 12px;
        width: 30px;
        position: absolute;
        top: 0px; right: 0px;
        z-index: 2;
        border-radius: 0;
      }
      span.ico {
        position: absolute;
        top: 14px; right: 14px;
        z-index: 1;
      }
    }
  }

  @include breakpoint($medium) {

    .phone, .off-canvas-button, .account-nav {
      padding-top: $space-larger; // 4.8px
    }

  }

  @include breakpoint($large) {

    .account-nav {@include suffix(0);}

    @include with-layout(rtl) {
      .account-nav {
        ul li {
          text-align: center;
          @include accountnavfont;
          a {
            display: inline-block;
            position: relative;
            &.logout {
              @include logoutlink;
            }
          }
          &.search {
            display: block;
            @include span(3);
          }
          &.account {
            display: block;
            @include span(4);
          }
          // &.signin {
          //   display: block;
          //   @include span(3);
          // }
          &.basket {
            @include span(3);
            .ico {
              float: none;
              margin-left: 0;
            }
          }
        }
      }

      // &.signed-in {
      //   ul li {
      //     &.search {
      //       @include span(isolate 3 at 1);
      //     }
      //     &.account {
      //       @include span(isolate 3 at 4);
      //     }
      //     &.signout {
      //       @include span(isolate 3 at 7);
      //     }
      //     &.basket {
      //       @include span(isolate 3 at 10);
      //     }
      //   }
      // }

    }

  }

  nav {
    @include break();
    @include nav-styles;

    position: relative;
    text-align: center;

    display: none;
    @include breakpoint($large) {
      display: block;
    }

    >ul {
      @include container;
      margin: 0 auto; padding: 0;
      >li {
        list-style: none;
        display: inline-block;
        padding: 0 10px;
        @include breakpoint($custom-nav-break) {
          padding: 0 15px;
        }
        >a, >span {
          display: block;
        }
        &.active {
          >a, >span {
            color: $brand-orange;
          }
        }
      }
    }

    .subMenu {
      position: absolute;
      z-index: 9999;
      left: 0;
      width: 100%;
      text-align: left;
      padding: $space-larger;
      min-height: 300px;
      display: none;
      background-color: #fff;
      border-bottom: 1px solid $line-colour;
      @include sub-menu;
      .close-mega-menu {
        position: absolute;
        right: 0; top: 0;
        cursor: pointer;
        &:hover, &:focus {
          color: $brand-orange;
        }
      }
      .column {
        @include span(3);
        &:nth-child(5) {
          @include span(3 last);
        }
      }
      h3 {
        margin: 0 0 $space-small 0;
      }
      ul {
        list-style: none;
        margin: 0 0 $space-larger 0; padding: 0;
        font-size: $smaller;
        li {
          margin: $space-tiny 0;
          a:hover, a:focus {
            text-decoration: underline;
          }
        }
      }
    }

  }
}

.other-products, .products-viewed{
  padding-bottom: $space-medium;
  position: relative;
  overflow: hidden;
  h2 {
    text-align: center;
    margin: 0 0 $space-larger 0
  }
}

.other-products, .brands {
  padding-top: $space-massive;
  img {
    display: block;
    margin-bottom: $space-small;
  }
}

.brands {
  position: relative;
  overflow: hidden;
  h2 {
    text-align: center;
    margin: 0 0 $space-larger 0
  }
  a {
    img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
    }
    &:hover, &:focus {
      img {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }
    }
  }
}

.products-viewed {
  text-align: center;
  padding-top: $space-larger;
  border-top: 1px solid $line-colour;
  ul {
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
      padding: 10px;
    }
  }
}

.breadcrumb {
  display: none;
}

@include breakpoint($large) {
  .breadcrumb {
    display: block;
    margin: 0 0 $space-small 0;
    padding: 0;
    list-style: none;
    font-size: $smaller;
    li {
      display: inline-block;
    }
    li:not(:first-child) {
      &:before {
        @include iconbase;
        font-size: 10px;
        @include icon-chevron-right;
        float: left;
        margin: 4px 3px;
      }
    }
  }
}

@include breakpoint($large) {

  .other-products {
    // padding-top: $space-massive;
    padding-bottom: $space-huge;
  }

}

.pagination {
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
  font-size: $smaller;
  li {
    display: inline;
    a, span {
      display: block;
      position: relative;
      float: left;
      padding: 8px 12px;
      margin-left: -1px;
      border: 1px solid #fff;
      background-color: $light;
      @include breakpoint($medium) {
        // border: none;
        // padding: 6px 8px;
      }
      &:hover, &:focus {
        // background-color: #fff;
      }
      &.active {
        background-color: $brand-blue;
        color: rgba(#fff, 1);
        // border: 1px solid $form-colour;
        border-radius: 2px;
      }
    }
  }
  .prev {
    a {
      -webkit-border-radius: 5px 0 0 5px;
      border-radius: 5px 0 0 5px;
      &:before {
        @include iconbase;
        font-size: 10px;
        @include icon-chevron-left;
        margin-right: 3px;
        vertical-align: middle;
      }
    }
  }
  .next {
    a {
      -webkit-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0;
      &:after {
        @include iconbase;
        font-size: 10px;
        @include icon-chevron-right;
        margin-left: 3px;
        vertical-align: middle;
      }
    }
  }
}

.content-page {
  position: relative;
  background-color: #fff;
  padding-top: $space-tiny;
  padding-bottom: $space-huge;
  .sub-nav {
    ul {
      list-style: none;
      padding: 0;
      li {
        border-bottom: 1px solid $line-colour;
        a {
          display: block;
          padding: $space-tiny;
          &:hover, &:focus {
            background-color: #fff;
          }
        }
      }
    }
  }
}

@include breakpoint($medium) {
  .content-page {
    padding-top: 0;
    min-height: 30rem;
    .sub-nav {
      @include span(2);
    }
    .content-column {
      @include span(9 last);
    }
  }
}

@include breakpoint($large) {
  .content-page {
    padding-top: $space-larger;
  }
}


footer {
  @include footer;
  padding: $space-huge 0;
  text-align: left;

  section {
    text-align: center;
    @include breakpoint($medium) {
      @include gallery(3);
      text-align: left;
    }
  }

  .trust-pilot {
    .trustpilot-widget {
      width: 200px;
      margin: auto;
    }
    @include breakpoint($medium) {
      @include gallery(3 last);
    }
  }

  .follow-us {
    margin-bottom: $space-medium;
    text-align: center;
    h3 {
      margin-right: $space-small;
      display: inline-block;
    }
    ul {
      list-style: none;
      display: inline-block;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 $space-small;
        .ico:before {
          vertical-align: middle;
        }
      }
    }
    @include breakpoint($medium) {
      text-align: left;
    }
  }

  .copy {
    font-size: $smaller;
    color: rgba($footer-links-color, 0.7);
    text-align: center;
    @include breakpoint($medium) {
      text-align: left;
    }
  }
}
