html {
  font-size: $base;
}

body {
  @include border-box-sizing;
}

body {
  background-color: $background;
}

/* Typography */

h1 {
  @include header1;
  margin: 1rem 0;
}

h2 {
  font-size: $sub-title;
}
h3 {
  font-size: $bigger;
}
p {
  font-size: $body;
}
a {
  text-decoration: none;
}

/* forms */

.dropdown {
  @include dropdown;
}




.frame {
  @include container;
  padding-right: 10px;
  padding-left: 10px;

  @include breakpoint($huge+20) {
    padding: 0;
  }
}

/* HEADER */

header {

    border-top: 10px solid $header-strip;

  .phone {
    display: none;

    @include breakpoint($large) {
      display: block;
      @include span(4 of 12);
      span {
        display: block;
      }
    }

    .number {
      font-size: $sub-title;
      margin-bottom: $space-tiny;
    }
    .times {
      font-size: $smaller;
    }
  }

  .off-canvas-button {
    display: block;
    padding-top: $space-large;
    padding-bottom: $space-large;
    font-size: $body;

    @include span(4 of 12);
    @include breakpoint($large) {
      display: none;
    }

    .menu-label {
      height: 36px;
      width: 4rem;
      padding-top: 10px;
      display: block;
    }

    .burger {
      @include icon;
      float: left;
      margin-right: $space-tiny;
      // position: relative;
      // display: block;
      // height: 36px;
      // width: 36px;

      // span {
      //   position: absolute;
      //   display: block;
      //   height: 4px; width: 25px;
      //   background-color: #000;
      //   left: 5px;
      // }
      // span:nth-child(1) {top: 8px;}
      // span:nth-child(2) {top: 16px;}
      // span:nth-child(3) {top: 24px; }
    }
  }

  .logo {
    @include span(4 at 5 of 12);
    text-align: center;
    padding-top: $space-large;
    padding-bottom: $space-small;
    img {
      margin: auto;
      max-width: 6rem;
    }
  }


  .account-nav {
    @include span(4 last);
    font-size: $body;
    padding-top: $space-large;
    //padding-bottom: $space-large;

    ul {
      margin: 0; padding: 0;
      list-style: none;
    }
    ul li {
      text-align: right;
      position: relative;
      .label {
        display: inline-block;
        padding-top: 10px;
      }
      &.search {
        display: none;
      }
      &.signin {
        display: none;
      }
      &.basket {
        @include span(isolate 12 last);
        position: relative;
        .icon {
          float: right;
          margin-left: $space-tiny;
        }
        .bag-qty {
          display: block;
          position: absolute; right: -8px; top: 0px;
          height: 16px; width: 16px;
          line-height: 16px;
          border-radius: 8px;
          background-color: $dark;
          font-size: $smaller;
          color: #fff;
          text-align: center;
          &.empty {
            display: none;
          }
        }
      }
    }

    ul li span.icon {
      @include icon;
      background-color: $light;
      margin: 0 auto;
    }

    .search-form {
      @include span(isolate 9 at 4);
      position: relative;
      display: none;
      input {
        @include textinput;
      }
    }
  }

  @include breakpoint($medium) {
    .logo, .phone, .off-canvas-button, .account-nav {
      padding-top: $space-massive;
    }
  }

  @include breakpoint($large) {

    .account-nav {
      //padding-bottom: $space-larger;
      ul li {
        text-align: center;
        a {
          display: inline-block;
          position: relative;
        }
        .label {
          padding-top: $space-tiny;
        }
        &.search {
          display: block;
          @include span(isolate 3 at 4);
        }
        &.signin {
          display: block;
          @include span(isolate 3 at 7);
        }
        &.basket {
          @include span(isolate 3 at 10);
          .icon {
            float: none;
            margin-left: 0;
          }
        }
      }
    }
  }

  nav {
    @include break();

    display: none;
    @include breakpoint($large) {
      display: block;
    }

    position: relative;
    text-align: center;
    padding: $space-tiny 0;
    border-top: 1px solid $line-colour;

    ul {
      @include container;
      margin: 0 auto; padding: 0;
    }

    li {
      list-style: none;
      display: inline-block;
      padding: 0 0px;
      font-size: $body;

      @include breakpoint($custom-nav-break) {
        font-size: $bigger;
        padding: 0 10px;
      }
      .subMenu {
        position: absolute;
        z-index: 9999;
        left: 0;
        width: 100%;
        text-align: left;
        padding: $space-larger;
        min-height: 300px;
        display: none;
        background-color: #fff;
        border-bottom: 1px solid $line-colour;
        // border: 1px solid #000;
      }

    }

    a {
      display: block;
      padding: 10px 10px;
    }
  }
}

.other-products {
  padding-top: $space-larger;
  padding-bottom: $space-larger;
  position: relative;
  h2 {
    text-align: center;
    margin: 0 0 $space-larger 0
  }
  // @include with-layout(10) {
  //   ul {
  //     margin: 0; padding: 0;
  //     font-size: $bigger;
  //   }
  //   li {
  //     @include gallery(2);
  //     list-style: none;
  //   }
  //   img {
  //     width: 100%;
  //     height: auto;
  //   }
  // }
}

.breadcrumb {
  display: none;
}

@include breakpoint($large) {

  .breadcrumb {
    display: block;
    margin: 0 0 $space-large 0;
    padding: 0;
    list-style: none;
    font-size: $smaller;
    li {
      display: inline-block;
      &:before {
        content: "";
        display: block;
        width: $smaller; height: $smaller;
        float: left;
        margin: 0 $space-tiny;
        background-color: #ddd;
      }
    }
  }

  .other-products {
    padding-top: $space-huge;
    padding-bottom: $space-huge;
  }

}

.pagination {
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
  font-size: $body;
  li {
    display: inline;
    // &:before {
    //   content: "";
    //   display: block;
    //   width: $smaller; height: $smaller;
    //   float: left;
    //   margin: 0 $space-tiny;
    //   background-color: #ddd;
    // }
    a {
      display: block;
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      border: 1px solid $line-colour;
      &:hover, &:focus {
        background-color: #eee;
      }
    }
  }
}

footer {
  background-color: $dark;
  padding: $space-massive 0;
  text-align: center;
  color: #fff;

  section {

    @include breakpoint($medium) {
      @include gallery(4);
    }

    ul {
      list-style: none;
      padding: 0;
      font-size: $body;
      line-height: $base;

      a {
        color: #fff;
      }
    }
  }
  .copy {
    font-size: $smaller;
  }
}
