html {
  font-size: $base;
}

body {
  @include border-box-sizing;
}

body {
  background-color: $background;
  @include bodycopy;
}

// Typography

h1 {
  @include header1;
}

h2 {
  @include header2;
}

h3 {
  @include header3;
}
p {
  .ico {
    margin-right: $space-tiny;
    &:before {
      vertical-align: sub;
    }
  }
  a {
    text-decoration: underline;
    &:hover, &:focus {
      color: $brand-red;
    }
  }
}
a {
  @include linkbase;
}

/* forms */

fieldset {
  @include fieldset;
  padding: $space-larger;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin: 0 0 $space-small 0;
      @include container;
      label {
        @include span(2);
      }
      .field {
        @include span(8);
      }
      .button-field {
        @include span(isolate 8 at 3);
      }
    }
  }
}

input[type="search"], input[type="text"], input[type="password"], textarea {
  @include textinput;
}

.dropdown {
  @include dropdown;
}

.button {
  @include button;
}

// Container

.frame {
  @include container;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  @include breakpoint($huge+20) {
    padding: 0;
  }
}

/* HEADER */

header {

    border-top: 10px solid $header-strip;

  .phone {
    display: none;

    @include breakpoint($large) {
      display: block;
      @include span(4 of 12);
      span {
        display: block;
      }
    }

    .ico {
      float: left;
      margin-top: 3px;
    }
    .number {
      font-size: $sub-title;
      margin-bottom: $space-tiny;
      margin-left: 28px;
    }
    .times {
      font-size: $smaller;
      margin-left: 28px;
    }
  }

  .off-canvas-button {
    display: block;
    padding-top: $space-large + 0.3rem;
    //padding-bottom: $space-large;
    font-size: $body;

    @include span(4 of 12);
    @include breakpoint($large) {
      display: none;
    }

    .menu-label {
      height: 36px;
      width: 4rem;
      padding-top: 5px;
      display: block;
    }

    .burger {
      float: left;
      margin-right: $space-tiny;
    }
  }

  .logo {
    @include span(4 at 5 of 12);
    text-align: center;
    @include logo;
  }


  .account-nav {
    @include span(4 last);
    font-size: $body;
    padding-top: $space-large + 0.3rem;
    //padding-bottom: $space-large;

    ul {
      margin: 0; padding: 0;
      list-style: none;
    }
    ul li {
      text-align: right;
      position: relative;
      .label {
        display: inline-block;
        padding-top: $space-tiny;
      }
      &.search {
        display: none;
      }
      .ico {
        display: block;
      }
      &.account {
        display: none;
      }
      &.signin {
        display: none;
      }
      &.basket {
        @include span(12 last);
        position: relative;
        .ico {
          float: right;
          margin-left: $space-tiny;
        }
        .bag-qty {
          display: block;
          position: absolute; right: -8px; top: 0px;
          height: 16px; width: 16px;
          line-height: 16px;
          border-radius: 8px;
          background-color: $brand-orange;
          font-size: $smaller;
          color: #fff;
          text-align: center;
          &.empty {
            display: none;
          }
        }
      }
    }

    .search-form {
      @include span(isolate 9 at 4);
      position: relative;
      display: none;
      input[type="submit"] {
        background-color: transparent;
        border: none;
        padding: 12px;
        width: 30px;
        position: absolute;
        top: 0px; right: 0px;
        z-index: 2;
        border-radius: 0;
      }
      span.ico {
        position: absolute;
        top: 14px; right: 14px;
        z-index: 1;
      }
    }
  }

  @include breakpoint($medium) {
    .phone, .off-canvas-button, .account-nav {
      padding-top: $space-massive - 0.2rem;
    }
  }

  @include breakpoint($large) {

    @include with-layout(rtl) {
      .account-nav {
        //padding-bottom: $space-larger;
        ul li {
          text-align: center;
          a {
            display: inline-block;
            position: relative;
          }
          &.search {
            display: block;
            @include span(3);
          }
          &.account {
            display: block;
            @include span(3);
          }
          &.signin {
            display: block;
            @include span(3);
          }
          &.basket {
            @include span(3);
            .ico {
              float: none;
              margin-left: 0;
            }
          }
        }
      }

      // &.signed-in {
      //   ul li {
      //     &.search {
      //       @include span(isolate 3 at 1);
      //     }
      //     &.account {
      //       @include span(isolate 3 at 4);
      //     }
      //     &.signout {
      //       @include span(isolate 3 at 7);
      //     }
      //     &.basket {
      //       @include span(isolate 3 at 10);
      //     }
      //   }
      // }

    }

  }

  nav {
    @include break();

    display: none;
    @include breakpoint($large) {
      display: block;
    }

    position: relative;
    text-align: center;
    padding: $space-tiny 0;
    border-top: 1px solid $line-colour;

    ul {
      @include container;
      margin: 0 auto; padding: 0;
    }

    li {
      list-style: none;
      display: inline-block;
      padding: 0 10px;
      font-size: $bigger;

      @include breakpoint($custom-nav-break) {
        padding: 0 14px;
      }
      .subMenu {
        position: absolute;
        z-index: 9999;
        left: 0;
        width: 100%;
        text-align: left;
        padding: $space-larger;
        min-height: 300px;
        display: none;
        background-color: #fff;
        border-bottom: 1px solid $line-colour;
        // border: 1px solid #000;
      }

    }

    a {
      display: block;
      padding: 10px 10px;
    }
  }
}

.other-products, .products-viewed {

  padding-bottom: $space-larger;
  position: relative;
  overflow: hidden;
  h2 {
    text-align: center;
    margin: 0 0 $space-larger 0
  }
}

.other-products {
  padding-top: $space-huge;
  background-image: url(../../images/logo-element.svg);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: top;
  img {
    display: block;
    margin-bottom: $space-small;
  }
}

.products-viewed {
  text-align: center;
  padding-top: $space-larger;
  border-top: 1px solid $line-colour;
  ul {
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
      padding: 10px;
    }
  }
}

.breadcrumb {
  display: none;
}

@include breakpoint($large) {

  .breadcrumb {
    display: block;
    margin: 0 0 $space-large 0;
    padding: 0;
    list-style: none;
    font-size: $smaller;
    li {
      display: inline-block;
    }
    li:not(:first-child) {
      &:before {
        @include iconbase;
        font-size: 12px;
        @include icon-chevron-right;
        float: left;
        margin: 2px 3px;
      }
    }
  }

  .other-products {
    // padding-top: $space-massive;
    padding-bottom: $space-huge;
  }

}

.pagination {
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
  font-size: $body;
  li {
    display: inline;
    a {
      display: block;
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      //border: 1px solid $line-colour;
      &:hover, &:focus {
        background-color: #fff;
      }
      &.active {
        background-color: $brand-orange;
        color: #fff;
      }
    }
  }
  .prev {
    a {
      -webkit-border-radius: 5px 0 0 5px;
      border-radius: 5px 0 0 5px;
      &:before {
        @include iconbase;
        font-size: 10px;
        @include icon-chevron-left;
        margin-right: 3px;
      }
    }
  }
  .next {
    a {
      -webkit-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0;
      &:after {
        @include iconbase;
        font-size: 10px;
        @include icon-chevron-right;
        margin-left: 3px;
      }
    }
  }
}

.content-page {
  position: relative;
  background-color: $light;
  padding-top: $space-small;
  padding-bottom: $space-huge;

  .sub-nav {
    ul {
      list-style: none;
      padding: 0;
      li {
        border-bottom: 1px solid $line-colour;
        a {
          display: block;
          padding: $space-tiny;
          &:hover, &:focus {
            background-color: #fff;
          }
        }
      }
    }
  }
}

@include breakpoint($medium) {
  .content-page {
    padding-top: $space-larger;
    .sub-nav {
      @include span(2);
    }
    .content-column {
      @include span(9 last);
    }
  }
}


footer {
  background-color: $dark;
  padding: $space-huge 0;
  text-align: center;
  color: #fff;

  h3 {
    color: $brand-yellow;
    margin-top: 0;
  }

  a {
    color: rgba(#fff, 0.7);
    &:hover, &:focus {
      color: rgba(#fff, 1);
      text-decoration: underline;
    }
    .ico {
      margin-right: $space-tiny;
    }
  }

  section {

    @include breakpoint($medium) {
      @include gallery(4);
    }

    ul {
      list-style: none;
      padding: 0;
      margin-bottom: $space-larger;
      font-size: $body;
      line-height: $base;
      li {
        margin: $space-tiny 0;
      }

    }
  }

  .follow-us {
    margin-bottom: $space-larger;
    h3 {
      margin-right: $space-small;
      display: inline-block;
    }
    ul {
      list-style: none;
      display: inline-block;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 $space-small;
        .ico:before {
          vertical-align: middle;
        }
      }
    }
  }

  .copy {
    font-size: $smaller;
    color: rgba(#fff, 0.7);
  }
}
