$susy: (
  columns: 12,
  gutters: .25,
  global-box-sizing: border-box,
  container: 43rem
);
/* Container = 1032px */

$promos: (
  gutters: 0,
  container: auto
);

$listings: (
  container: 64rem
);
