$susy: (
  columns: 12,
  gutters: .25,
  global-box-sizing: border-box,
  container: 1032px
);
/*  PL Container = 1032px */

$promos: (
  gutters: 0,
  container: auto
);

$widerGrid: (
  container: 1200px
);

$fullWidth: (
  container: 100%
);
