.promos {

  background-color: #999;

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  a {
    color: #fff;
  }

  .large-promo, .small-promo {

    position: relative;

    a {
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;



      -webkit-transition: background 300ms ease-in;
      -moz-transition: background 300ms ease-in;
      -ms-transition: background 300ms ease-in;
      -o-transition: background 300ms ease-in;
      transition: background 300ms ease-in;

      &:hover {
        background-color: rgba(#000, 0.1);
      }

      .promo-copy {
        position: absolute;
        display: block;
         width: 100%;
        text-align: center;

        span {
          display: block;
        }

      }

    }

  }

  .large-promo {
    @include large-home-promo;
    a {
      background-color: rgba(#000, 0.2);
    }
  }

  .small-promo {
    @include small-home-promo;
    a {
      background-color: rgba(#000, 0.4);
    }
  }

  .three-equal { // 3x middle txt only promos

    @include break;

    .other-promo {

      font-size: $sub-title;
      text-align: center;
      color: #fff;

      a {
        -webkit-transition: background 300ms ease;
        -moz-transition: background 300ms ease;
        -ms-transition: background 300ms ease;
        -o-transition: background 300ms ease;
        transition: background 300ms ease;
        display: block;
        padding: $space-massive $space-medium;
      }

      // TODO: Lets put these in the theme
      &.promo-1 {
        a {
          background-color: $promo-1-color;
        }
      }
      &.promo-2 {
        a {
          background-color: $promo-2-color;
        }
      }
      &.promo-1, &.promo-2 {
        .button {
          &.bordered {
            color: rgba(#fff, 1) !important;
            border-color: rgba(#fff, 1) !important;
            &:hover {
              color: rgba(#fff, 1) !important;
              border-color: rgba(#fff, 1) !important;
            }
          }
        }
      }
      &.promo-3 {
        a {
          background-color: $promo-3-color;
          color: $dark;
        }
        .button {
          &.bordered {
            color: rgba(#000, 1) !important;
            border-color: rgba(#000, 1) !important;
          }
        }
      }

      .link-button {
        display: block;
        margin-top: $space-large;
      }
    }

  }

}



@include with-layout($promos) {


  @include breakpoint($medium) {

    .promos {

      @include container;

      .large-promo {
        @include span(12);
      }

      .small-promo {
        @include span(6);
      }

    }

  }

  @include breakpoint($large) {

    .promos {

      .large-promo {
        @include span(8 of 12);
      }

      .small-promo {
        @include span(4 last);
      }

      @include with-layout(rtl) {

        .reverse {
          .large-promo {
            @include span(8 of 12);
          }
          .small-promo {
            @include span(4 last);
          }
        }

      }

      .three-equal {
        @include container;

        .other-promo {
          // This only works because there are no gutters
          @include gallery(4 of 12);
          a {
            padding: $space-huge + 0.5rem $space-medium;
          }
        }
      }

    }

  }
}
