.banner {
  width: 100%;
  height: auto;
  display: block;
}

.product-listings {

  @include layout($listings);
  @include container;
  @include pad(10px);

  position: relative;
  background-color: $light;
  padding-top: $space-larger;
  padding-bottom: $space-huge;

  .frame {
    @include container;
    padding: 0;
  }

  .filters {
    // @include pad(0.75rem);
    // background-color: #fff;
    font-size: $body;
    margin-bottom: $space-large;
    ul {
      list-style: none;
      padding: $space-tiny;
      height: 150px;
      overflow-y: scroll;
      border: 1px solid $line-colour;
      font-size: $smaller;
      li {
        padding: $space-tiny 0;
        input {
          margin-right: $space-tiny;
        }
      }
    }
  }

  .listings-page {

    .item {
      padding-bottom: $space-large;
      @include gallery(6 of 12);
      @include breakpoint($medium) {
        @include gallery(4 of 12);
      }
      @include breakpoint($fullwidth) {
        @include gallery(3 of 12);
      }
      @include breakpoint($huge) {
        @include gallery(2 of 12);
      }
      font-size: $bigger;
      img {
        width: 100%;
        height: auto;
      }
      span {
        display: block;
      }
    }
  }

}

@include breakpoint($medium) {
  .product-listings {
    h1 {
      @include span(6 of 12);
    }
    .product-count {
      @include span(6 last);
      text-align: right;
      margin: 1rem 0;
      p {
        display: inline-block;
        float: right;
        padding: 6px 12px;
        margin-bottom: 0; margin-top: 0;
      }
      ul {
        float: right;
      }
    }
  }
}

@include breakpoint($large) {
  .product-listings {
    .filters {
      @include span(2 of 12);
    }

    .listings-page {
      @include span(10 last);
    }
  }
}
