.shopping-cart-box {
	display:none;
	z-index: 9999;
	position: absolute;
  right:0;
	width: 13rem;
	text-align: left;
	background: $light;
	//border: 1px solid $line-colour;
	padding: $space-medium;
	margin-top: 10px;
	> a {
		color: $dark;
		text-decoration:none;

	}
	&:after {
		content: '';
		position: absolute;
		bottom: 100%;
		right: 30px;
		width: 0; height: 0;
		border-bottom: 8px solid $light;
		border-right: 8px solid transparent;
		border-left: 8px solid transparent;
	}
	ul.cart-products-loaded {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: $body;
		li{
			border: 1px solid $line-colour;
			position: relative;
			background: #fff;
			text-align: left;
			margin-bottom: 1px;
			min-height: 60px;
			padding: 10px 0 10px 75px;
			span {
				display: block;
			}
		}
	}
	.close-shopping-cart-box {
	  float: right;
	}
	.remove-item {
		position: absolute;
		top: $space-tiny; right: $space-tiny;
		text-decoration:none;
	}
	.cart-products-total{
		font-weight: bold;
		text-align: right;
		padding: $space-small;
	}
	h3{
		margin: 0 0 $space-medium 0;
	}
	img {
		// float: left;
		position: absolute;
		top: $space-tiny; left: $space-tiny;
	}
	.button {
		@include button;
		display: block;
	}
}


// LISTINGS

// ul.products-wrp {
// 	list-style: none;
// 	padding: 0;
// 	width: 470px;
// 	margin: 0;
// 	color: #777;
// }
// ul.products-wrp li{
// 	display: inline-block;
// 	border: 1px solid #ECECEC;
// 	margin: 5px;
// 	background: #fff;
// 	text-align: center;
// }
// ul.products-wrp li h4{
// 	margin: 0;
// 	padding: 15px 5px 5px 5px;
// 	text-align: center;
// 	border-bottom: 1px solid #FAFAFA;
// }
// ul.products-wrp li .item-box{
// 	border: 1px solid #EAEAEA;
// 	background: #F9F9F9;
// 	margin: 5px;
// 	padding: 5px;
// 	text-align: center;
// }
// ul.products-wrp li .item-box button{
// 	margin-left: 5px;
// 	background: #FA1C5F;
// 	border: none;
// 	padding: 3px 8px 3px 8px;
// 	color: #fff;
// }
// ul.products-wrp li .item-box button[disabled=disabled]{
// 	background: #FC84A8;
// }

// BASKET PAGE

// ul.view-cart {
//   width: 600px;
//   margin-left: auto;
//   margin-right: auto;
//   background: #fff;
//   padding: 15px 15px 15px 25px;
//   list-style: none;
// }
//
// ul.view-cart {
//   width: 600px;
//   margin-left: auto;
//   margin-right: auto;
//   background: #fff;
//   padding: 15px 15px 15px 25px;
//   list-style: none;
//   border: 1px solid #ECECEC;
//   border-radius: 4px;
// }
// ul.view-cart li span{
//     float: right;
// }
// ul.view-cart li.view-cart-total{
//   border-top: 1px solid #ddd;
//   padding-top: 5px;
//   margin-top: 5px;
//   text-align: right;
// }
// hr{
// 	border: 0;
//     height: 0;
//     border-top: 1px solid rgba(0, 0, 0, 0.1);
//     border-bottom: 1px solid rgba(255, 255, 255, 0.3);
// }
