.product-details {

  position: relative;
  background-color: $light;
  padding-top: $space-large;
  padding-bottom: $space-larger;

  .product-gallery {
    margin-bottom: $space-larger;
    img {
      display: block;
    }

    .product-gallery-thmbs {
      list-style: none;
      margin-top: $space-tiny;
      padding: 0;
      @include container;
      li {
        @include gallery(3);
        padding-bottom: $space-tiny;
        cursor: pointer;
        img {
          max-width: 100%;
          height: auto;
          border: 2px solid #fff;
        }
        &.active {
          img {
            border: 2px solid $brand-orange;
          }
        }
      }
    }
    .zoom-image-wrapper {
      position: relative;
      z-index: 15;
      .zoomed-image {
        display: none;
        position: absolute !important;
        left: 105%;
        top: 0;
        height: 100%; width: 100%;
        border: 1px solid $line-colour;
      }
    }

  }

  .product-info {
    text-align: center;
    h1{
      margin: 0;
    }
    .price {
      @include header1;
      margin: 0;
    }
    .add-to-bag {
      @include container;
      padding: $space-large 0;
      margin-bottom: $space-large;
      border-bottom: 1px solid $dark;

      .add-qty {
        text-align: center;
        margin-bottom: $space-large;
        label {
          display: block;
          font-size: $body;
          margin-bottom: $space-small;
        }
        .dropdown {
          @include fatselect;
        }
      }

      .button-field {
        button {
          @include addtocartbutton;
        }
      }

    }
  }

}

.banner-swiper {
  img {
    display: block;
  }
}

.product-reviews {
  background-color: $light;
  //padding-top: $space-larger;
  padding-bottom: $space-larger;
  text-align: center;
  h2 {
    text-align: center;
    margin-top: 0;
  }
  .review-list {
    @include container;

  }
  .review {
    padding-bottom: $space-large;
    .rating {
      .ico {
        color: $brand-orange;
        &:before{
          vertical-align: middle;
        }
      }
    }
    .from {
      font-size: $smaller;
    }
  }
  .button {
    margin: $space-large auto 0 auto;
  }
}

@include breakpoint($medium) {

  .product-gallery-lrg {
    img:hover {
      cursor: zoom-in;
    }
  }

  .product-details {

    padding-top: $space-huge;

    .product-gallery {
      @include span(6);
    }

    .product-info {
      text-align: left;
      @include span(6 last);
      @include prefix(5%);
      .add-to-bag {
        .add-qty {
          text-align: left;
          label {
            display: inline-block;
            margin-right: $space-medium;
            margin-bottom: 0;
          }
        }
      }
    }

  }

  .product-reviews {
    padding-top: $space-massive;
    padding-bottom: $space-massive;
    .review {
      @include gallery(6);
      text-align: left;
      //@include break;
      //@include span(isolate 8 at 3 of 12);
    }
  }

}

@include breakpoint($large) {
  .product-details {
    .product-info {
      .add-to-bag {
        .add-qty {
          @include span(5);
          margin-bottom: 0;
        }
        .add-button {
          @include span(7 last);
          text-align: left;
          button {
            display: inline-block;
            width: auto;
          }
        }
      }
    }
  }
}
