.product-details {

  position: relative;
  background-color: $light;
  padding: $space-larger 0 $space-huge 0;

  .product-gallery {
    img {
      display: block;
    }
  }

  .product-info {
    h1{
      margin: 0;
    }
    .price {
      @include header1;
      margin: 0;
    }
    .add-to-bag {
      @include container;
      padding: $space-larger 0;
      border-bottom: 1px solid $dark;

      .add-qty {
        @include span(4);
        label {
          font-size: $body;
          display: inline-block;
          margin-right: $space-tiny;
        }
      }

      .add-button {
        @include span(8 last);
        button {
          @include button;
        }
      }

    }
  }


}

@include breakpoint($medium) {

  .product-details {

    .breadcrumb {
      display: block;
      margin: 0 0 $space-large 0;
      padding: 0;
      list-style: none;
      font-size: $smaller;
      li {
        display: inline-block;
        &:before {
          content: "";
          display: block;
          width: $smaller; height: $smaller;
          float: left;
          margin: 0 $space-tiny;
          background-color: #ddd;
        }
      }
    }

    .product-gallery {
      @include span(6);
    }

    .product-info {
      @include span(6 last);
      @include prefix(5%);
    }

  }

}
