// Breakpoints

$small: 640px;
$medium: 768px;
$large: 960px;
$fullwidth: 1032px;
$huge: 1536px;

$custom-nav-break: 1015px;

// Spacing

$space-tiny: 0.25rem;/* 6px */
$space-small: 0.5rem;/* 12px */
$space-medium: 0.75rem; /* 18px */
$space-large: 1rem; /* 24px */
$space-larger: 1.5rem; /* 36px */
$space-massive: 2rem; /* 48px */
$space-huge: 3rem; /* 72px */


// Base colours

$background: #fff;

$header-strip: #000;

$line-colour: #d9d9d9;
$form-colour: #bbb;

$light: #f4f4f4;
$dark: #000;

$brand-yellow: #f3bd19;
$brand-red: #ef4f22;
$brand-orange: #e88b23;

$promo-1-color: $dark;
$promo-2-color: $brand-red;
$promo-3-color: $light;


// General typography

@font-face {
    font-family: 'brandfont';
    src: url('../fonts/knubi.eot');
    src: url('../fonts/knubi.eot?#iefix') format('embedded-opentype'),
         url('../fonts/knubi.woff2') format('woff2'),
         url('../fonts/knubi.woff') format('woff'),
         url('../fonts/knubi.ttf') format('truetype'),
         url('../fonts/knubi.svg#knubiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$base: 24px; // This effects the size of EVERYTHING - Change with caution!

$main-title: 1.5rem; // 36px
$main-title-mobile: 1.25rem; // 30px
$sub-title: 1rem; // 24px
$bigger: 0.75rem; // 18px
$body: 0.65rem; // 15.6px
$smaller: 0.5rem; // 12px

$bodyfont: "brandfont", Helvetica, Ariel, Sans-serif;
$brand1: $bodyfont;

@mixin bodycopy {
  font-family: $bodyfont;
  font-size: $body;
}

@mixin linkbase {
  color: $dark;
  text-decoration: none;
  &:hover, &:focus {
    color: $brand-red;
  }
}

// H1
@mixin header1 {
  font-family: $brand1;
  font-size: $main-title-mobile;
  font-weight: normal;
  margin: 1rem 0;
  @include breakpoint($medium) {
    font-size: $main-title;
  }
  @include breakpoint($large) {

  }
}

// H2
@mixin header2 {
  font-family: $brand1;
  font-size: $sub-title;
  font-weight: normal;
  margin-top: $space-larger;
}

@mixin header3 {
  font-family: $brand1;
  font-size: $bigger;
  font-weight: normal;
  margin-bottom: $space-small;
}

@mixin boldType {
  font-weight: normal;
}

// LOGO PLACEMENT

@mixin logo {
  padding-bottom: $space-large;
  margin-top: -10px;
  a {
    display: block;
    margin: auto;
    max-width: 3rem;
    svg {
      max-width: 3rem;
    }
  }
  @include breakpoint($medium) {
    a {
      max-width: 4.6rem;
      svg {
        max-width: 4.6rem;
      }
    }
  }
}


// Form elements

@mixin fieldset {
  background-color: #fff;
  border: 1px solid $line-colour;
  border-radius: 5px;
  margin: $space-larger 0;
}

@mixin textinput {
  padding: $space-tiny;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0;
  border: 1px solid $form-colour;
  &:focus {
    outline: 0;
    border: 1px solid #000;
  }
}

@mixin fattextinput {
  padding: $space-small $space-massive $space-small $space-small;
}

@mixin dropdown {
  background-color: #fff;
  position: relative;
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    font-size: $body;
    padding: $space-tiny $space-massive $space-tiny $space-small;
    border: 1px solid $form-colour;
    position: relative;
    min-width: 4rem;
    background-color: transparent;
    z-index: 2;
    &:focus {
      outline: 0;
      border: 1px solid #000;
    }
    &.larger {
      padding: $space-small $space-massive $space-small $space-small;
    }
  }
  span {
    position: absolute; top: 6px; bottom: 6px; right: 7px;
    z-index: 1;
    border-left: 1px solid $form-colour;
    padding-left: 5px;
    padding-top: 4px;
    color: $dark;
  }
}

@mixin fatselect {
  select {
    padding: $space-small $space-massive $space-small $space-small;
  }
  span {
    top: 10px; bottom: 10px; right: 11px;
    padding-left: 10px;
    padding-top: 6px;
  }
}

// Errors

@mixin serverError {
  color: $brand-red;
  margin-top: 0;
  padding-left: 35px;
  .ico {
    //float: left;
    margin-left: -35px;
  }

}

// Buttons

@mixin button {
  display: block;
  width: 100%;
  font-size: $body;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.08rem;
  color: rgba(#fff, 0.8);
  padding: $space-small 0;
  background-color: rgba($dark, 0.8);
  border: none;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  &.bordered {
    color: rgba($dark, 0.4);
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: rgba($dark, 0.4);
    &:hover {
      color: rgba($dark, 1);
      background-color: transparent;
      border-color: rgba($dark, 1);
    }
  }
  &:hover {
    color: rgba(#fff, 1);
    background-color: rgba($dark, 1);
  }
  &.smaller {
    font-size: $smaller;
    padding: $space-small $space-large;
  }
  @include breakpoint($medium) {
    display: inline-block;
    width: auto;
    padding: $space-small $space-larger;
  }
}

@mixin addtocartbutton {
  background-color: rgba($brand-orange, 0.8);
  &:hover {
    background-color: rgba($brand-orange, 1);
  }
}

// TABLES

@mixin tables {
  width: 100%;
  margin: $space-larger 0;
  thead {
    th {
      padding: $space-small;
      text-align: left;
      background-color: $dark;
      color: #fff;
    }
  }
  tbody {
    tr {
      td {
        padding: $space-small;
        border-bottom: 1px solid $line-colour;
      }
      &:nth-child(even) {
        td {
          background-color: #fff;
        }
      }
    }
  }


}


// Home page banners typography

$large-promo-first: 3.75rem;
$large-promo-second: $large-promo-first/2;

$small-promo-first: 2.5rem;
$small-promo-second: $small-promo-first/2;

@mixin large-home-promo {
  .promo-copy {
    top: 50%;
    margin-top: -$large-promo-first/2;
    .first {
      font-size: $large-promo-first/2;
    }
    .second {
      font-size: $large-promo-second/2;
      letter-spacing: 0.1rem;
    }
    @include breakpoint($small) {
      margin-top: -$large-promo-first;
      .first {
        font-size: $large-promo-first;
      }
      .second {
        font-size: $large-promo-second;
      }
    }
  }
}

@mixin small-home-promo {
  .promo-copy {
    bottom: 10%;
    .first {
      font-size: $small-promo-first/1.5;
    }
    .second {
      font-size: $small-promo-second/1.5;
      letter-spacing: 0.1rem;
    }
    @include breakpoint($small) {
      .first {
        font-size: $small-promo-first;
      }
      .second {
        font-size: $small-promo-second;
      }
    }
  }
}

// Home promos colours

.brand-yellow {
  &.large-promo {
    // a { // Change the BG colour only for large promo
    //   background-color: rgba($brand-yellow, 0.3) !important;
    //   &:hover {
    //     background-color: rgba($brand-yellow, 0.1) !important;
    //   }
    // }
  }
  .first { // Change the Txt colour for all
    color: $brand-yellow;
  }
}

.brand-orange {
  &.large-promo {
    // a { // Change the BG colour only for large promo
    //   background-color: rgba($brand-orange, 0.3) !important;
    //   &:hover {
    //     background-color: rgba($brand-orange, 0.1) !important;
    //   }
    // }
  }
  .first { // Change the Txt colour for all
    color: $brand-orange;
  }
}

.brand-red {
  &.large-promo {
    // a { // Change the BG colour only for large promo
    //   background-color: rgba($brand-red, 0.3) !important;
    //   &:hover {
    //     background-color: rgba($brand-red, 0.1) !important;
    //   }
    // }
  }
  .first { // Change the Txt colour for all
    color: $brand-red;
  }
}
