// Breakpoints

$small: 640px;
$medium: 768px;
$large: 960px;
$fullwidth: 1032px;
$huge: 1536px;

$custom-nav-break: 1015px;

// Spacing

$space-tiny: 0.25rem;/* 6px */
$space-small: 0.5rem;/* 12px */
$space-medium: 0.75rem; /* 18px */
$space-large: 1rem; /* 24px */
$space-larger: 1.5rem; /* 36px */
$space-massive: 2rem; /* 48px */
$space-huge: 3rem; /* 72px */


// Base colours

$background: #fff;

$header-strip: #000;

$line-colour: #d9d9d9;

$light: #f4f4f4;
$dark: #000;

$promo-1-color: #666;
$promo-2-color: #333;
$promo-3-color: #999;


// General typography

$base: 24px;

$main-title: 1.5rem; // 36px
$main-title-mobile: 1.25rem; // 30px
$sub-title: 1rem; // 24px
$bigger: 0.75rem; // 18px
$body: 0.65rem; // 15.6px
$smaller: 0.5rem; // 12px

@mixin header1 {
  font-size: $main-title-mobile;
  font-weight: normal;
  text-align: center;
  @include breakpoint($medium) {
    font-size: $main-title;
    text-align: left;
  }
  @include breakpoint($large) {

  }
}


// Icons

@mixin icon {
  display: block;
  height: 32px; width: 32px;
  background-color: #eee;
}

// Form elements

@mixin textinput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  &:focus {
    outline: 0;
  }
}

@mixin dropdown {
  display: inline-block;
  background-color: #fff;
  position: relative;
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    font-size: $body;
    padding: $space-medium $space-larger $space-medium $space-small;
    border: 1px solid $dark;
    position: relative;
    min-width: 3rem;
    background-color: transparent;
    z-index: 2;
    &:focus {
      outline: 0;
    }
  }
  &:after {
    content: "";
    position: absolute; top: 50%; right: 10px;
    @include icon;
    width: 16px; height: 16px;
    margin-top: -8px;
    z-index: 1;
  }
}

// Buttons 

@mixin button {
  font-size: $body;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.08rem;
  color: rgba(#fff, 0.6);
  padding: $space-medium $space-large;
  background-color: #666;
  border: 1px solid #666;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  &.bordered {
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(#fff, 0.6);
    &:hover {
      border-color: rgba(#fff, 1);
    }
  }
  &:hover {
    color: rgba(#fff, 1);
  }
}

// Home page banners typography

$large-promo-first: 3.75rem;
$large-promo-second: $large-promo-first/2;

$small-promo-first: 2.5rem;
$small-promo-second: $small-promo-first/2;

@mixin large-home-promo {
  .promo-copy {
    top: 50%;
    margin-top: -$large-promo-first/2;
    .first {
      font-size: $large-promo-first/2;
    }
    .second {
      font-size: $large-promo-second/2;
    }
    @include breakpoint($small) {
      margin-top: -$large-promo-first;
      .first {
        font-size: $large-promo-first;
      }
      .second {
        font-size: $large-promo-second;
      }
    }
  }
}

@mixin small-home-promo {
  .promo-copy {
    bottom: 10%;
    .first {
      font-size: $small-promo-first/1.5;
    }
    .second {
      font-size: $small-promo-second/1.5;
    }
    @include breakpoint($small) {
      .first {
        font-size: $small-promo-first;
      }
      .second {
        font-size: $small-promo-second;
      }
    }
  }
}
